<html>

<head>

    <link rel="stylesheet" type="text/css" href="../css/admin/viewFlight.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/addDestination.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/navigationBar.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/editFlight.css">


    <title>Admin</title>
    <link rel="icon" href="../images/admin/icon.png">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

</head>

<body>


<div class="navbar">

    <div class="dropdown">

        <button class="dropbtn">View Destination

            <i class="fa fa-caret-down"></i>

        </button>

        <div class="dropdown-content">

            <a href="#" id="viewAllFlight" onclick="retrieveAllFlights('')">View all flights</a>
            <a href="#" id="viewDomesticFlight" onclick="retrieveAllFlights('?region=Domestic')">View domestic flights</a>
            <a href="#" id="viewEuropeanFlight" onclick="retrieveAllFlights('?region=Europe')">View european flights</a>

        </div>

    </div>

    <a href="#" onclick="generateForm()">Add Destination</a>

    <a class="logout" href="#">Logout</a>

</div>

<div id="main"></div>

</body>

<script src="../js/admin/viewFlight.js"></script>

</html>

