<html>

<head>

    <link rel="stylesheet" type="text/css" href="../css/view_flight.css">

    <title>Admin</title>

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>


</head>

<body>

<div class="navbar">

    <div class="dropdown">

        <button class="dropbtn">View Destination

            <i class="fa fa-caret-down"></i>

        </button>

        <div class="dropdown-content">

            <a href="#" id="viewAllFlight" onclick="retrieveAllFlights('')">View all flights</a>
            <a href="#" id="viewDomesticFlight" onclick="retrieveAllFlights('?region=Domestic')">View domestic
                flights</a>
            <a href="#" id="viewEuropeanFlight" onclick="retrieveAllFlights('?region=Europe')">View european flights</a>

        </div>

    </div>

    <a href="add_destination.html">Add Destination</a>
    <a href="#">Edit Destination</a>
    <a href="#">Delete Destination</a>

    <a class="logout" href="#">Logout</a>

</div>
<table id="flight-table">
    <tr>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Capacity</th>
        <th>Cost</th>
        <th>Duration</th>
        <th>Region</th>
    </tr>
</table>

</body>

<script>


    function retrieveAllFlights(regionName) {
        $.ajax({

            url: 'http://localhost:8000/controller/getFlights.php' + regionName,
            success: function (result) {

                console.log(result);

                var allFlights = JSON.parse(result);
                var root = document.getElementById('flight-table');
                clearTable();
                populateTable(allFlights, root);
            },
            error: function () {
            }
        })
    }

    function clearTable() {

        $('#flight-table tr').slice(1).remove();
        $(document.getElementsByClassName('edit')).remove();
        $(document.getElementsByClassName('delete')).remove();
    }

    function populateTable(data, root) {

        var td6 = "";

        for (var i = 0; i < data.length; i++) {

            var tr = document.createElement('tr');
            var td1 = document.createElement('td');
            td1.innerHTML = data[i].connection.fromLocation.name;
            var td2 = document.createElement('td');
            td2.innerHTML = data[i].connection.toLocation.name;
            var td3 = document.createElement('td');
            td3.innerHTML = data[i].capacity;
            var td4 = document.createElement('td');
            td4.innerHTML = data[i].connection.cost;
            var td5 = document.createElement('td');
            td5.innerHTML = data[i].connection.flight_duration;
            var td6 = document.createElement('td');

            var connection = data[i].connection;

            if (connection.toLocation.region.name == "Europe" || connection.fromLocation.region.name == "Europe") {
                td6.innerHTML = "Europe";
            } else {
                td6.innerHTML = "Domestic"
            }

            var editButton = document.createElement('button');
            editButton.innerHTML = 'edit';
            editButton.setAttribute('class', 'edit' + 'Id' + i);
            editButton.setAttribute('onclick', 'editFlights(event);');

            var deleteButton = document.createElement('button');
            deleteButton.innerHTML = 'delete';
            deleteButton.setAttribute('class', 'delete');

            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);
            tr.appendChild(td5);
            tr.appendChild(td6);
            root.appendChild(editButton);
            root.appendChild(deleteButton);
            root.appendChild(tr);

        }
    }

    function editFlights(event) {

        console.log(event.target.className);

    }


</script>

</html>

