.flight {
    border: 2px solid green;
    border-radius: 5px;
    margin:20px 20px;
}

.flight * {
    margin: 15px 15px;
    padding-left: 20px;
}

.flight h3 {
    font-size:30px;
    display:inline;
}
.flight button {
    font: size 20px;
    display:inline;
    margin:5px 5px;
    float:right;
}
.flight h4 {
    font-size:20px;
    margin-top:0px;
}

.flight em {
    display:block;
    margin-bottom:0px;
}