
td[contentEditable] {
    border-color: #00b5ad;
}

td[contenteditable]:not(:focus) {
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
}

