<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>FlyGuys Checkout</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>


    <link rel="stylesheet" type="text/css" href="../css/users/checkout.css">

</head>
<body>
    <script>
        function getCookieValue(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return null;
        }

        if(getCookieValue("idCode")==null) {
            alert("No cookie, wtf!");
            // leave page
        }



    </script>

    <h1>Checkout</h1>

    <ul id="checkoutFlights">
    </ul>

    <section>
        <form id="passengerInfo">
            <section class="passengerDetails">
                <input type="text" placeholder="name">
                <input type="text" placeholder="passport number">
            </section>


        </form>
        <a href="#" id="addPassenger">+ add passenger</a>
    </section>

    <button>Pay</button>

    <script>

        $.ajax({
            url: `http://localhost:8000/controller/bookings/getBasketFlights.php?cookie=${getCookieValue("idCode")}`,
            success: function(result) {
                var flights = JSON.parse(result);

                var root = document.getElementById("results")

                removeChildren(root);

                if (flights.length > 0) {
                    generateResults(root, flights);
                } else {
                    displayNoResults(root);
                }


                return false;
            }

        });
        var jsonstuff = '[{"flightId":1, "from":"Stansted","to":"Paris"},{"flightId":5,"from":"Stansted","to":"Berlin"}]';

        var flights = JSON.parse(jsonstuff);

        console.log(flights);

        var list = document.querySelector("#checkoutFlights");
        flights.forEach(function(flight) {
            console.log(flight);
            var item = document.createElement("li");
            item.innerHTML = flight.from + " to " + flight.to;

            item.addEventListener("click", function() {
                switchContext(flight.flightId)
            });

            list.appendChild(item);
        });

        function switchContext(id) {
            console.log("Clickky" + id);
        }




        document.querySelector("#addPassenger").addEventListener("click", function() {
            createPassengerDetailsSection()
        });

        function createPassengerDetailsSection() {
            var passengerName = document.createElement("input");
            passengerName.setAttribute("type", "text");
            passengerName.setAttribute("placeholder", "name");

            var passportNum = document.createElement("input");
            passportNum.setAttribute("type", "text");
            passportNum.setAttribute("placeholder", "passport number");

            var section = document.createElement("section");
            section.setAttribute("class", "passengerDetails");

            section.appendChild(passengerName);
            section.appendChild(passportNum);

            document.querySelector("#passengerInfo").appendChild(section);
        }
    </script>






</body>
</html>