<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>FlyGuys Checkout</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../css/users/checkout.css">

</head>
<body>

<h1>Checkout</h1>

<form id="passengerInfo">

    <ul id="checkoutFlights">

    </ul>
    <label>Number of passengers</label>
    <input class="numberOfPassengers" type="number" min="1" max="5">
    <button id="addPassengers">valid number of passengers</button>
    <div class="passengers">

    </div>

    <button id="validPassengers">Valid passengers</button>

</form>

    <div class="login-modal">
        <div class="modal-content">
            <span class="close-button-login">&times;</span>
            <h1>Login</h1>

            <form id="login-form">

                <input id="email-login" placeholder="email" type="email" name="email">
                <input id="password-login" placeholder="password" type="password" name="password">

                <button type="submit" id="submit-login">Submit</button>
                <br/>
                <br/>
                <label>Or Sign up</label>
                <button id="signUp">sign up</button>

            </form>
        </div>
    </div>

    <div class="signUp-modal">
        <div class="modal-content">
            <span class="close-button-signUp">&times;</span>
            <h1>Sign up</h1>

            <form id="signUp-form">

                <input id="email-signUp" placeholder="email" type="email" name="email">
                <input id="password-signUp" placeholder="password" type="password" name="password">
                <input id="passwordConfirmation-signUp" placeholder="confirm password" type="password" name="passwordConfirmation">

                <button type="submit" id="submit-signUp">Submit</button>
                <br/>
                <br/>
                <label>Or Login</label>
                <button id="login">Login</button>

            </form>
        </div>
    </div>



</body>
<script src="../js/users/checkout.js"></script>
</html>