<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>FlyGuys Search</title>
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>


        <link rel="stylesheet" type="text/css" href="../css/index_user.css">
        <link rel="stylesheet" type="text/css" href="../css/results.css">

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script>
            function getCookieValue(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return null;
            }

            if(getCookieValue("idCode")) {
                console.log("Already have idCode:" + getCookieValue("idCode"));
            } else {
                $.ajax({url: "http://localhost:8000/controller/SessionManager.php", success: function(result){
                    var json = JSON.parse(result);

                    document.cookie = `idCode=${json.idCode}`;
                    console.log("Got myself an idCode:" + getCookieValue("idCode"));
                }});
            }

            // Fill Basket with previous bookings


        </script>
    </head>
    <body>
        <nav>

        </nav>

        <aside>
            <ul id="basket">
                <p class="underline">My Basket</p>
                <div>
                </div>
                <button>Checkout</button>
                
            </ul>
        </aside>

        <main>
            <h1>FlyGuys</h1>
            <section id="searcFormh">
                <h2>Search</h2>
                <form>
                    <div class="row">
                        <input id="from" list="fromlist" type="search" placeholder="From" class="unanswered">
                        <input id="to" list="tolist"  type="search" placeholder="To" class="unanswered">
                        <datalist id="fromlist">
                        </datalist>
                        <datalist id="tolist">
                        </datalist>
    
                    </div>
                    <div class="row">
                        <select id="day">
                            <option>Day</option>
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                        <span class="seperator"> or </span>
                        <input type="date" id="date">
                        <button id="search">Search</button>
                    </div>
                </form>
            </section>

            <section id="results">
            
                <section class="flight">
                    <h3>Stansted (Domestic) - Paris (Europe)</h3>
                    <button>Add flight (£50.00)</button>
                    <em>Saturday 26th March</em>
                    <h4>Departing at 13:00:00, Arriving at 14:00:00</h4>
                </section>
                <section class="flight">
                    <h3>Stansted (Domestic) - Paris (Europe)</h3>
                    <button>Add flight (£50.00)</button>
                    <em>Saturday 26th March</em>
                    <h4>Departing at 13:00:00, Arriving at 14:00:00</h4>
                </section>
            
            </section>
        </main>
    </body>

    <!-- obtaining dropdown details -->
    <script src="../js/search.js"></script>

    <!-- retrieving every flight that meets criteria -->
    <script>
        $("#search").click(function() {
            var fromValue = $("#from").val();
            var toValue = $("#to").val();

            var url = `http://localhost:8000/controller/locations/search.php?fromName=${fromValue}&toName=${toValue}`

            var day = $("#day").val();
            var date = $("#date").val();
            if(day != "Day") {
                url += "&day="+ day;
            }
            if(date) {
                url += "&date="+ date;
            }

            retriveData(url);
            return false;
        })

        function retriveData(requestURL) {

            
            $.ajax({
                url: requestURL ,
                success: function(result) {
                    var flights = JSON.parse(result);

                    var root = document.getElementById("results")

                    removeChildren(root);

                    if(flights.length > 0) {
                        generateResults(root,flights);
                    } else {
                        displayNoResults(root);
                    }


                    return false;
                }
                
            });
        }

        function removeChildren(root) {
            while(root.firstChild)
                root.removeChild(root.firstChild);
        }

        function displayNoResults(root) {
            var title = document.createElement("h2");
            title.innerText= "No Results";

            var apology = document.createElement("h3");
            apology.setAttribute("class", "apology");
            apology.innerText = "Our apologies, we do not service this connection";

            root.appendChild(title);
            root.appendChild(apology);
        }

        function generateResults(root, flights) {

            var title = document.createElement("h2");
            title.innerHTML = "Results";

            root.appendChild(title);

            for(var i=0;i<flights.length;i++) {
                generateResult(root, flights[i]);
            }
        }

        function generateResult(root, flight) {
            var locations = document.createElement("h3");
            var addBtn = document.createElement("button");
            var date = document.createElement("em");
            var times = document.createElement("h4");
            var section = document.createElement("section");

            // Set location text
            var floc = flight.connection.fromLocation;
            var tloc = flight.connection.toLocation;
            locations.innerHTML = `${floc.name} (${floc.region.name}) - ${tloc.name} (${tloc.region.name})`;

            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var startDate = new Date(flight.departure_date_time);
            var fullDate = days[startDate.getDay()] + " " + startDate.getDate() + " " + months[startDate.getMonth()];

            date.innerHTML = fullDate;

            // Set button text
            addBtn.innerHTML = `Add flight (£${flight.connection.cost})`;
            addBtn.addEventListener('click', function() {
                addToBasket(flight, fullDate);
            });



            // Set departure and arrival time text
            times.innerHTML = "Departing at " + startDate.getHours() + ":" + startDate.getMinutes() + ", Arriving at {temp}";

            // Set class for styling
            section.setAttribute("class","flight");

            section.appendChild(locations);
            section.appendChild(addBtn);
            section.appendChild(date);
            section.appendChild(times)

            root.appendChild(section);
        }

        function addToBasket(flight, dateStr) {

            if(alreadyAdded(flight.id)) {
                console.log("Item already added");
                return;
            }

            var cookie = getCookieValue("idCode");
            var url = `http://localhost:8000/controller/bookings/addBooking.php?cookie=${cookie}&flightId=${flight.id}`;

            $.ajax({
                url: url,
                success: function(result) {
                    console.log("Added flightId: "+ flight.id + " to booking of account: " + getCookieValue("idCode"));
                }
            });

            addElemsToBasket(flight, dateStr);
        }

        function addElemsToBasket(flight, dateStr) {
            var basketItems = document.querySelector('#basket div');

            var dateItem = document.createElement("em");
            dateItem.innerText = dateStr;

            var listItem = document.createElement('li');
            listItem.innerHTML = flight.connection.fromLocation.name + " to " + flight.connection.toLocation.name;

            var hiddenId = document.createElement("input");
            hiddenId.setAttribute("type","hidden");
            hiddenId.setAttribute("value", flight.id);

            basketItems.appendChild(dateItem);
            basketItems.appendChild(listItem);
            basketItems.appendChild(hiddenId);
        }

        function alreadyAdded(id) {
            var toReturn = false;
            var hiddenElems = document.querySelectorAll("#basket div input");
            hiddenElems.forEach(function(elem) {
                if(elem.getAttribute("value") == id) {
                    toReturn = true;
                }
            });
            return toReturn;
        }


    </script>
</html>