<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>FlyGuys Search</title>
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>


        <link rel="stylesheet" type="text/css" href="../css/users/index_user.css">
        <link rel="stylesheet" type="text/css" href="../css/users/results.css">

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script src="../js/users/sortCookies.js"></script>
    </head>
    <body>
        <nav>

        </nav>

        <aside>

            <ul id="basket">
                <p class="underline">My Basket</p>
                <div id="check"></div>
                <li><button id="checkout">Checkout</a></button></li>
            </ul>
        </aside>

        <main>
            <h1>FlyGuys</h1>
            <section id="searchForm">
                <h2>Search</h2>
                <form>
                    <div class="row">
                        <input id="from" list="fromlist" type="search" placeholder="From" class="unanswered">
                        <input id="to" list="tolist"  type="search" placeholder="To" class="unanswered">
                        <datalist id="fromlist">

                        </datalist>
                        <datalist id="tolist">

                        </datalist>
    
                    </div>
                    <div class="row">
                        <select id="day">
                            <option>Day</option>
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                        <span class="separator"> or </span>
                        <input type="date" id="date">
                        <button id="search">Search</button>
                    </div>
                </form>
            </section>

            <section id="results">
            
            </section>
        </main>
    </body>



    <script src="../js/users/globals.js"></script>

    <!-- obtaining dropdown details -->
    <script src="../js/users/searchCriteria.js"></script>

    <!-- retrieving every flight that meets criteria -->
    <script src="../js/users/searchSubmission.js"></script>

    <script src="../js/users/rememberBasket.js"></script>

    <script src="../js/users/beforeCheckout.js"></script>


</html>